.container.add-task {
  padding: 80px 64px;
}

.add-task-all-content {
  position: relative;
  top: 130px;
  left: 80px;
  height: 80vh;
}

.add-task-h1-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.add-task-h1 {
  font-weight: 700;
  font-size: 61px;
}

.add-task-container {
  display: flex;
  flex-direction: row;
}

.add-task-left-side {
  display: flex;
  flex-direction: column;
  margin: 30px 40px 30px 0;
  flex: 1;
  height: 376px;
  font-size: 20px;
}

.add-task-title {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

.add-task-title-input {
  padding: 12px 21px 12px 21px;
  border-radius: 10px;
  border: 1px solid #bbb9b9;
}

.add-task-description {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

.add-task-textarea {
  resize: none;
  border-radius: 10px;
  padding: 18px 16px 18px 16px;
  border: 1px solid #bbb9b9;
}

.add-task-textarea:focus {
  outline-color: #29abe2;
}

input:focus {
  outline-color: #29abe2;
}

.add-task-assigned-to {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

.add-task-assigned-to-input {
  border-radius: 10px;
  padding: 12px 21px 12px 21px;
  border: 1px solid #bbb9b9;
  width: 100%;
}

.add-task-assigned-to-input-container {
  width: 100%;
  position: relative;
}

.add-task-assigned-to-input-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 10px;
  bottom: 7px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #ffffff;
  border: none;
  width: 35px;
  height: 35px;
  transition: all 200ms ease-in-out;
}

.add-task-assigned-to-input-container button:hover {
  background-color: #ededef;
}

.add-task-assigned-to-input-arrow {
  width: 40px;
  height: 40px;
}

.add-task-assigned-avatar {
  display: flex;
  flex-wrap: wrap;
  margin-inline: 10px;
}

.add-task-right-left-between {
  width: 1px;
  height: 445px;
  background-color: #dadbdb;
  margin-top: 43px;
}

.add-task-right-side {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 30px 0 30px 40px;
  font-size: 20px;
}

.add-task-due-date {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

.add-task-due-date-input {
  padding: 12px 21px 12px 21px;
  width: 88%;
  border-radius: 10px;
  border: 1px solid #bbb9b9;
  cursor: pointer;
}

.add-task-required {
  color: red;
}

.add-task-urgent-medium-low-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

.add-task-urgent-medium-low-buttons {
  display: flex;
  gap: 8px;
}

.add-task-urgent,
.add-task-medium,
.add-task-low {
  display: flex;
  align-items: center;
  flex: 1;
  height: 56px;
  border-radius: 10px;
  font-size: 16px;
  border: 1px solid #bbb9b9;
  background-color: #ffffff;
  cursor: pointer;
  padding-inline: 10px;
}

.add-task-prio-icon {
  min-width: 20px;
}

.add-task-important-name {
  text-size-adjust: auto;
}

.add-task-urgent:hover,
.add-task-medium:hover,
.add-task-low:hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}

.add-task-important {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1;
}

.add-task-medium-clicked {
  background-color: rgb(226, 193, 85);
}

.add-task-category {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

.add-task-category-input {
  padding: 12px 21px 12px 21px;
  border-radius: 10px;
  border: 1px solid #bbb9b9;
  width: 100%;
}

.add-task-category-input option:hover {
  background-color: #efefef !important;
}

.add-task-category-input:focus {
  outline-color: #29abe2;
}

.add-task-category-input-container {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  gap: 8px;
}

.add-task-category-input-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 10px;
  bottom: 7px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #ffffff;
  border: none;
  width: 35px;
  height: 35px;
  transition: all 200ms ease-in-out;
}

.assignedSelected {
  background-color: #2b3647;
}

.add-task-category-input-container button:hover {
  background-color: #ededef;
}

.add-task-category-input-arrow {
  width: 40px;
  height: 40px;
}

.category-container {
  background-color: #ffffff;
  display: flex;
  z-index: 1;
  padding: 20px 5px 5px 5px;
  font-size: 20px;
  border-radius: 0 0 10px 10px;
  width: 100%;
  position: absolute;
  top: 80px;
}

.category-container ul {
  width: 100%;
}

.add-task-subtasks {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

.add-task-subtasks-input {
  padding: 12px 95px 12px 21px;
  border-radius: 10px;
  border: 1px solid #bbb9b9;
  width: 69%;
}

.add-task-subtasks-input-container {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 8px;
  height: 90px;
}

.add-task-subtasks-icon-plus {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 155px;
  bottom: 57px;
  cursor: pointer;
  gap: 5px;
}

.add-task-subtasks-li-edit {
  margin-inline: 0 !important;
}

.add-task-subtasks-input-edit {
  background-color: #ffffff;
  border: none;
  border-bottom: 1px solid #29abe2;
  border-radius: 0;
  padding-right: 75px;
  padding-left: 10px;
  outline: none;
  height: 40px;
}

.add-task-subtasks-input-edit-div {
  position: relative;
  width: 100%;
}

.add-task-subtasks-icons-edit {
  position: absolute;
  right: 19px;
  bottom: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.add-tasks-border {
  width: 1px;
  height: 26px;
  border: 1px solid #bbb9b9;
  margin-right: 0px;
}

.add-task-subtasks-icon-plus button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #ffffff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.add-task-subtasks-icon-plus button:hover {
  background-color: #ededef;
}

.checkbox-dropdown .search > input:focus {
  background-image: url("/assets/icons/drop_down_arrow_up.svg") !important;
}

.add-task-subtasks-icon-plus-check {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 140px;
  bottom: 54px;
  cursor: pointer;
  gap: 5px;
}

.add-task-subtasks-icon-plus-check button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #ffffff;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-top: 5px;
}

.add-task-subtasks-icon-plus-check button:hover {
  background-color: #ededef;
}

.add-task-subtasks-icon-plus-check img {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  width: 14px;
  height: 14px;
}

.add-task-subtasks-choosen {
  height: 83px;
  overflow-y: auto;
}
.add-task-subtasks-choosen::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.add-task-subtasks-choosen::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

.add-task-subtasks-choosen::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #a0a0a0;
}

.add-task-subtasks-choosen li {
  list-style: inside;
  display: flex;
  justify-content: space-between;
  padding-inline: 15px;
}

.add-task-subtasks-choosen ul {
  padding-inline: 10px;
}

.add-task-subtasks-extra-task {
  position: relative;
  word-break: break-all;
  padding-left: 10px;
  padding-right: 70px;
}

.add-task-subtasks-extra-task::before {
  content: "";
  background-color: black;
  position: absolute;
  left: -8px;
  top: 12px;
  border-radius: 50%;
  display: block;
  width: 5px;
  height: 5px;
}

.add-task-subtasks-icons {
  position: absolute;
  right: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.edit-task-subtasks-icons {
  right: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.overlay-add-task-subtasks-icons {
  right: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.add-task-subtasks-icons {
  display: none;
  padding-right: 16px;
}

.add-task-subtasks-list li {
  position: relative;
}

.add-task-subtasks-list li:hover .add-task-subtasks-icons {
  display: flex;
}

.add-task-edit {
  position: relative;
  top: -1px;
  cursor: pointer;
}

.add-task-edit:hover {
  position: relative;
  top: -2px;
}

.add-task-trash {
  cursor: pointer;
}

.add-task-trash:hover {
  position: relative;
  top: -1px;
}

.add-task-confirm {
  width: 15px;
  height: 25px;
}

.add-task-confirm:hover {
  position: relative;
  top: -1px;
}

.d-none {
  display: none !important;
}

.add-task-required-responsive {
  display: none;
  font-size: 16px;
}

.add-task-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: -10px;
  margin-right: 8px;
}

.edit-task-bottom {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 120px;
  margin-right: 8px;
}

.dialog .add-task-bottom {
  background-color: white;
}

.add-task-bottom-clear-button,
.add-task-bottom-create-button {
  height: 56px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 400;
  border: 1px solid #2a3647;
  margin: 2px;
  cursor: pointer;
}

.add-task-bottom-clear {
  font-size: 20px;
}

.add-task-bottom-clear-button {
  border: 1px solid #2a3647;
  outline: 1px solid white;
  background-color: white;
  transition: all 200ms ease-in-out;
  width: 130px;
}

.close-hover {
  display: none;
}

.add-task-bottom-clear-button:hover {
  color: #29abe2;
  border: 1px solid #29abe2;
  outline: 1px solid #29abe2;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}

.add-task-bottom-clear-button:hover .add-task-clear {
  transition: all 200ms ease-in-out;
  stroke: #29abe2;
}

.add-task-bottom-clear-button:hover .close-no-hover {
  display: none;
}

.add-task-bottom-clear-button:hover .close-hover {
  display: flex;
}

.add-task-bottom-create-button {
  background-color: #2a3647;
  color: rgb(255, 255, 255);
  transition: all 200ms ease-in-out;
  padding: 10px;
}

.add-task-bottom-create-button:hover {
  background-color: #29abe2;
  border: 1px solid #29abe2;
  color: rgb(255, 255, 255);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}

.add-task-create-task {
  width: 20px;
  height: 15px;
}

.turn {
  transform: rotate(180deg);
}

.add-task-urgent.add-task-clicked {
  background-color: #ff3d00;
  color: #ffffff;
}

.add-task-medium.add-task-clicked {
  background-color: #ffbb2b;
  color: #ffffff;
}

.add-task-low.add-task-clicked {
  background-color: #7ae229;
  color: #ffffff;
}

.add-task-not-clicked {
  background-color: #ffffff;
  color: #000000;
}

li {
  list-style-type: none;
  padding: 5px;
  cursor: pointer;
}

li:hover {
  background-color: #eeeeee;
  border-radius: 10px;
}

.checkbox-dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.checkbox-dropdown :has(input[type="text"]:focus) + ul {
  display: block;
}

.checkbox-dropdown .search {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.checkbox-dropdown .search > input {
  border: 1px solid #d7d7d7;
  border-radius: 10px;
  padding: 12px 21px 12px 21px;
  background-image: url("/assets/icons/drop_down_arrow.svg");
  background-position: calc(100% - 10px) center;
  background-size: 30px;
  background-repeat: no-repeat;
  transition: all 200ms;
}

.checkbox-dropdown .search > input:focus {
  background-image: url("/assets/icons/drop_down_arrow.svg");
}

.checkbox-dropdown ul {
  background: #fff;
  padding: 0;
  list-style: none;
  max-height: 250px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  display: none;
  z-index: 1;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}

.checkbox-dropdown ul:hover {
  display: block;
}

.checkbox-dropdown ul li {
  padding: 8px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox-dropdown ul li label {
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
}

input[type="radio"] {
  display: none;
  z-index: 10000000;
}

.checkbox-dropdown ul li:hover {
  background-color: #eeeeee;
}

.avatar {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  width: 42px;
  border-radius: 50%;
  margin-right: 10px;
  border: 0.1rem solid #fff;
  font-size: 75%;
  color: #fff;
}

.checkbox-dropdown ul li,
.add-task-checkbox,
.checkbox-dropdown ul li,
.add-task-checkbox-edit {
  opacity: 1;
  cursor: pointer;
}

.add-task-checkbox {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 3px;
  border: 2px solid white; 
  cursor: pointer;
  margin-right: 8px;
}

.add-task-checkbox:checked {
  background-color: #2a3647;
  background-image: url("/assets/icons/add_task_check.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
}

.confirmation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-new-task {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(209, 209, 209, 0.3);
  z-index: 10001;
  transform: translate3d(100%, 0px, 0px);
  transition: all 100ms;
}

.create-new-task-container {
  background-color: #ffffff;
  border-radius: 30px;
}

.add-task-close {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 12px 21px 12px 21px;
  cursor: pointer;
}

.create-add-task-all-content {
  margin-inline: 50px;
  margin-block: 50px;
}

.add-task-main-content {
  position: relative;
  height: 100%;
  width: 100%;
}

.add_task_container {
  width: 850px;
  border: none;
  padding: 0;
  margin: 0;
  line-height: 1.5;
}

form {
  all: unset;
  height: 100%;
}

.checkbox-dropdown ul::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.checkbox-dropdown ul::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

.checkbox-dropdown ul::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #a0a0a0;
}

.add-task-main-content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.add-task-main-content::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

.add-task-main-content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #a0a0a0;
}

.notification {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.notification img {
  margin-left: 30px;
}

#add_notification {
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translateX(0%) translateY(150%);
  opacity: 0;
  background-color: #2a3647;
  color: #fff;
  padding: 20px 20px;
  border-radius: 20px;
  transition: transform 0.4s ease, opacity 0.4s ease;
  z-index: 100000;
}

#add_notification.show {
  transform: translateX(0%) translateY(-700%);
  opacity: 1;
}

#add_notification.hide {
  transform: translateX(200%) translateY(0);
  opacity: 0;
}

.selectedContact {
  background-color: #2a3647 !important;
  color: white;
}
@media (max-width: 860px) {
  .edit-task-bottom {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 200px;
    margin-right: 8px;
  }
  .checkbox-overlay-dropdown .search-overlay > input {
    font-size: 12px;
  }
  .checkbox-overlay-dropdown ul li label {
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 12px;
  }
  .add-task-overlay-title-input {
    font-size: 12px;
  }
  .add-task-overlay-subtasks-input {
    font-size: 12px;
  }
  .add-task-overlay-subtasks-icon-plus-check button {
    padding: 0px;
  }
  .add-task-overlay-subtasks-choosen ul {
    font-size: 12px;
  }
  .add-task-overlay-subtasks-icon-plus button {
    padding: 0px;
  }
  .add-task-overlay-due-date-input {
    font-size: 12px;
  }
}