.add_task_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
}

.add_task_overlay_show {
  opacity: 1;
  pointer-events: auto;
}

.overlay_content {
  position: relative;
  width: 430px;
  max-width: 90%;
  background: #fff;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-timing-function: linear;
  height: 760px;
  color: #2b3647;
  font-weight: normal;
  margin-top: -16px;
}

@keyframes slideInFromRight {
  from {
    transform: translateX(300%);
  }
  to {
    transform: translateX(0);
  }
}
.overlay_content.slide-in {
  animation: slideInFromRight 3s ease-in forwards;
}

@keyframes slideOutToRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.overlay_content.slide-out {
  animation: slideOutToRight 3s ease-out forwards;
}

.close_overlay_btn {
  border: none;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;

}
.close_overlay_btn button {
  background-color: transparent;
  border: none;
  font-size: 35px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;

}
.close_overlay_btn button:hover {
  background-color: #aaa;
  cursor: pointer;

}

.add-task-overlay-content {
  display: flex;
  flex-direction: column;
  padding: 20px;

}
.add-task-overlay-h1-container {
  display: flex;
  justify-content: space-between;
}

.add-task-overlay-h1-container h1 {
  font-size: 32px;
  margin: 20px 0 0 10px;
  padding: 0;
}

.add-task-overlay-container {
  display: flex; 
}

.add-task-overlay-left-side {
  display: flex;
  flex-direction: column;
  margin: 30px 0 0 0;
  flex: 1;
  font-size: 20px;
}

.add-task-overlay-right-side {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 30px 0 0 0;
  font-size: 20px;
}

.add-task-overlay-title {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

.add-task-overlay-title-input {
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid #bbb9b9;
  font-size: 18px;
  width: 80%;
}

.add-task-overlay-description {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

.add-task-overlay-textarea {
  border-radius: 10px;
  padding: 10px 15px;
  border: 1px solid #bbb9b9;
  font-size: 18px;
  width: 80%;
  height: 80px;
  resize: none;
}

.add-task-overlay-assigned-to {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

.checkbox-overlay-dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.checkbox-overlay-dropdown .search-overlay {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.checkbox-overlay-dropdown .search-overlay > input {
  border: 1px solid #d7d7d7;
  border-radius: 10px;
  padding: 12px 21px;
  background-image: url(/assets/icons/drop_down_arrow.svg);
  background-position: calc(100% - 10px) center;
  background-size: 30px;
  background-repeat: no-repeat;
  transition: all 200ms;
  width: 78%;
  font-size: 18px;
}

.checkbox-overlay-dropdown ul {
  background: #fff;
  padding: 0;
  list-style: none;
  max-height: 250px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 89%;
  display: none;
  z-index: 1;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}

.checkbox-overlay-dropdown ul li {
  padding: 8px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox-overlay-dropdown ul li label {
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
}

.checkbox-overlay-dropdown ul li:hover {
  background-color: #eeeeee;
}

.d-none {
  display: none !important;
}

.add-task-assigned-avatar {
  display: flex;
  gap: 8px;
  margin-left: 10px;
  margin-top: 8px;
}

.add-task-overlay-due-date {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

.add-task-overlay-due-date-input {
  padding: 10px 15px;
  width: 80%;
  border-radius: 10px;
  border: 1px solid #bbb9b9;
  cursor: pointer;
  font-size: 18px;
}

.add-task-overlay-urgent-medium-low-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

.add-task-overlay-urgent-medium-low-buttons {
  display: flex;
  gap: 8px;
}

.add-task-overlay-urgent,
.add-task-overlay-medium,
.add-task-overlay-low {
  display: flex;
  align-items: center;
  height: 46px;
  border-radius: 10px;
  font-size: 16px;
  border: 1px solid #bbb9b9;
  background-color: #ffffff;
  cursor: pointer;
  width: 28%;
}

.add-task-overlay-urgent:hover,
.add-task-overlay-medium:hover,
.add-task-overlay-low:hover {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.add-task-overlay-urgent.add-task-clicked {
  background-color: #ff3d00;
  color: #ffffff;
}

.add-task-overlay-medium.add-task-clicked {
  background-color: #ffbb2b;
  color: #ffffff;
}

.add-task-overlay-low.add-task-clicked {
  background-color: #7ae229;
  color: #ffffff;
}

.add-task-overlay-important {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1;
}

.add-task-overlay-important-name {
  text-size-adjust: auto;
}

.add-task-overlay-category {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

.add-task-radio {
  margin-left: 8px;
}

.add-task-overlay-subtasks {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

.add-task-overlay-subtasks-input-container {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 8px;
}

.add-task-overlay-subtasks-input {
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid #bbb9b9;
  width: 81%;
  font-size: 18px;
}

.add-task-overlay-subtasks-icon-plus {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 15%;
  bottom: 5px;
  cursor: pointer;
  gap: 5px;
}

.add-task-overlay-subtasks-icon-plus button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #ffffff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.add-task-overlay-subtasks-icon-plus-check {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 66%;
  bottom: 5px;
  cursor: pointer;
  gap: 5px;
}

.add-task-overlay-subtasks-icon-plus-check button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #ffffff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.add-tasks-border {
  width: 1px;
  height: 26px;
  border: 1px solid #bbb9b9;
}

.add-task-overlay-subtasks-choosen {
  max-height: 200px;
  overflow-y: auto;
}

.add-task-overlay-subtasks-list li {
  position: relative;
  margin-block: 8px;
}

.add-task-overlay-subtasks-extra-task {
  position: relative;
  word-break: break-all;
  padding-left: 10px;
  padding-right: 70px;
}

.add-task-overlay-subtasks-extra-task::before {
  content: "";
  background-color: black;
  position: absolute;
  left: -8px;
  top: 12px;
  border-radius: 50%;
  display: block;
  width: 5px;
  height: 5px;
}

.add-task-overlay-subtasks-icons {
  position: absolute;
  right: 10px;
  display: none;
  align-items: center;
  gap: 8px;
  padding-right: 16px;
}

.add-task-overlay-subtasks-list li:hover .add-task-overlay-subtasks-icons {
  display: flex;
}

.add-task-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.add-task-bottom-clear-button,
.add-task-bottom-create-button {
  border: none;
  background: none;
  cursor: pointer;
}

.add-task-bottom-clear {
  display: flex;
  gap: 5px;
  align-items: center;
  color: #2b3647;
  padding: 8px 12px;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.add-task-bottom-clear:hover {
  background-color: #ededef;
}

.add-task-bottom-create-task {
  display: flex;
  gap: 5px;
  align-items: center;
  background-color: #2b3647;
  color: #fff;
  padding: 8px 12px;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.add-task-bottom-create-task:hover {
  background-color: #28abe2;
}

.add-task-create-task {
  width: 14px;
  height: 14px;
}

.add-task-required {
  color: red;
}

@media (max-width: 1200px) {
  .add-task-overlay-container {
    flex-direction: column;
  }
 
  .add-task-overlay-left-side,
  .add-task-overlay-right-side {
    width: 100%;
    margin: 0;
  }
}