.task {
  background: #fff;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  width: 250px;
  margin-bottom: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.task-label {
  color: #fff;
  padding: 6px 12px;
  border-radius: 8px;
  display: inline-block;
  margin-bottom: 8px;
  margin-top: 0px;
  font-size: 14px;
  text-align: center;
  width: 100px;
}

.task-title {
  margin: 8px 0 4px;
  font-size: 18px;
  font-weight: 600;
}

.task-description {
  display: -webkit-box;        
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;     
  overflow: hidden;            
  text-overflow: ellipsis;    
  width: 200px;
  line-height: 1.4;
  font-size: 14px;
  color: #6b6b6b;
}

.progress-container {
  margin-bottom: 8px;
}

.progress-bar-bg {
  background-color: #e0e0e0;
  height: 6px;
  border-radius: 3px;
  position: relative;
}

.progress-bar-fill {
  background-color: #398df7;
  height: 100%;
  border-radius: 3px;
  width: 0%; 
}

.subtask-info {
  text-align: right;
  font-size: 12px;
  color: #2b3647;
}

.task-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-assignees {
  display: flex;
  gap: 4px;
}

.avatar-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid #fff;
  margin: -14px;
  margin-left: auto;
}

.task-priority-icon img {
  width: 24px;
  height: 24px;
}

@keyframes slideInFromRight {
  from {
    transform: translateX(300%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideOutToRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(300%);
  }
}

.board_overlay_content.slide-in {
  animation: slideInFromRight 3s ease-in forwards;
}

.board_overlay_content.slide-out {
  animation: slideOutToRight 3s ease-out forwards;
}

@media (max-width: 500px) {
  .task {
    width: 220px;
    background: #fff;
    border-radius: 12px; 
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: flex; 
    flex-direction: column;
  }
}