.board_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
}

.board_overlay_show {
  opacity: 1;
  pointer-events: auto;
}

.board_overlay_content {
  position: relative;
  width: 430px;
  max-width: 90%;
  background: #fff;
  border-radius: 20px;
  padding: 50px 25px 50px 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  animation-duration: 0.2s;
  animation-fill-mode: both;
  animation-timing-function: linear;
  height: 760px;
  color: #2b3647;
  font-weight: normal;
  margin-top: -16px;
  overflow-y: auto;
}

.board_overlay_details_content {
  padding: 0px 25px 50px 5px;
  margin: 0px 0px 0px 15px;
}

.edit-task-overlay-container {
  height: 95%;
  margin: 10px;
  width: 100%;
}

.edit-task-overlay-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.edit-task-overlay-container::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

.edit-task-overlay-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #a0a0a0;
}

/* Beispiel: Slide In */
@keyframes slideInFromRight {
  from {
    transform: translateX(300%);
  }
  to {
    transform: translateX(0);
  }
}
.overlay_content.slide-in {
  animation: slideInFromRight 0.3s ease-in forwards;
}

.board_overlay_content.slide-in {
  animation: slideInFromRight 3s ease-in forwards;
}

/* Beispiel: Slide Out */
@keyframes slideOutToRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
.board_overlay_content.slide-out {
  animation: slideOutToRight 3s ease-out forwards;
}

.overlay_content.slide-out {
  animation: slideOutToRight 0.3s ease-out forwards;
}

.board_overlay_close {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  animation-duration: 1s;
  color: #999fa7;
  border: none;
  font-size: 28px;
  cursor: pointer;
  transition: background-color 1sease, border-radius 1sease;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board_overlay_close:hover {
  background-color: #e2e3e4;
  border-radius: 100%;
}

.task-label {
  display: inline-block;
  padding: 6px 32px;
  border-radius: 12px;
  color: #fff;
  font-size: 1.1rem;
  margin-top: 16px;
  margin-bottom: 24px;
}

.board_label {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
}

.label-technical {
  background-color: #1ed7c1;
}

.label-userstory {
  background-color: #0138ff;
}

.overlay-section {
  margin-bottom: 24px;
}

.section-label {
  margin-right: 5px;
}

.h2_board-overlay {
  font-size: 56px;
  margin-block-start: 0;
  margin-block-end: 0;
  color: black;
}

/* =====================
   NEUE TEXT-KLASSEN
===================== */
.text-regular {
  font-size: 18px;
  color: #000;
  font-weight: normal;
}

.text-label {
  font-size: 18px;
  color: #2b3647;
  font-weight: normal;
}

.text-subtask {
  font-size: 12px;
  color: #000;
  font-weight: normal;
  max-width: 80%;
}

.assignees-column-overlay {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.assignee-overlay {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 5px 8px;
  border-radius: 6px;
  transition: background-color 0.2s;
  margin-bottom: -10px;
}

.assignee-overlay:hover {
  background-color: #f6f7f8;
}

.assignee-circle-overlay {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  margin-left: 10px;
}

.assignee-name-overlay {
  font-size: 16px;
  color: #000;
}

.subtasks {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.subtask-item-overlay {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  transition: background-color 0.2s ease;
  border-radius: 6px;
  padding: 5px 10px;
  max-width: 100%;
}

.subtask-item-overlay:hover {
  background-color: #f6f7f8;
}

.subtask-item-overlay input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 3px;
  border: 2px solid #2a3647;
  position: relative;
  cursor: pointer;
  margin-right: 8px;
}

.subtask-item-overlay input[type="checkbox"]::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 11.5px;
  left: 8px;
  top: 2.5px;
  border: 2px solid #2a3647;
  border-top: none;
  border-left: none;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.subtask-item-overlay input[type="checkbox"]:checked::after {
  opacity: 1;
}

.task-detail-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-right: 0px;
}

.task-detail-footer button {
  display: flex;
  align-items: center;
  gap: 5px;
  border: none;
  background: none;
  cursor: pointer;
  padding: 5px 8px;
  color: #2b3647;
  transition: color 0.2s ease;
}

.task-detail-footer button:hover {
  color: #28abe2;
}

.board_duedate {
  margin-left: 10px;
}

.board_priority {
  margin-left: 27px;
}

.prio-icon-boardoverlay {
  margin-left: 10px;
}

.column_header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #f6f7f8;
  padding-bottom: 10px;
}

@media (max-width: 500px) {
  .subtask-item-overlay input[type="checkbox"] {
    margin-right: 16px;
    width: 10% !important;
  }
}

@media (max-width: 860px) {
  .board_overlay_content {
    width: 350px;
    height: 670px;
    top: 10px;
  }
}

@media (max-width: 427px) {
  .board_overlay_content {
    width: 320px;
    height: 670px;
    top: 10px;
    overflow-y: auto;
  }
}

@media (max-width: 360px) {
  .board_overlay_content {
    width: 290px;
    height: 670px;
    top: 10px;
    overflow-y: auto;
  }
}

@media (max-width: 340px) {
  .board_overlay_content {
    width: 250px !important;
    height: 670px;
    top: 10px;
    overflow-y: auto;
  }
}

@media (max-width: 430px) {
  .add-task-overlay-urgent-medium-low-buttons {
    display: flex;
    gap: 24px;
  }
  .add-task-overlay-important {
    gap: 8px;
  }
  .add-task-overlay-medium {
    font-size: 12px;
  }
  .add-task-overlay-low {
    font-size: 12px;
  }
  .add-task-overlay-urgent {
    font-size: 12px;
  }
}

@media (max-width: 360px) {
  .add-task-overlay-urgent-medium-low-buttons {
    display: flex;
    gap: 24px;
  }
  .add-task-overlay-important {
    gap: 4px;
  }
  .add-task-overlay-medium {
    font-size: 8px;
  }
  .add-task-overlay-low {
    font-size: 8px;
  }
  .add-task-overlay-urgent {
    font-size: 8px;
  }
}
