.contact_content {
  display: flex;
  width: 1920px;
  overflow: hidden;
  min-height: 100%;
  overflow-x: hidden;
}

.contacts_container {
  position: relative;
  height: 100vh;
  margin: 0;
  top: 76px;
  padding: 0px;
  display: flex;
  flex-direction: column;
}

.contacts_div {
  width: 400px;
  color: white;
  height: 100%;
  overflow-y: auto;
  box-shadow: rgba(0, 0, 0, 0.15) 5px 0px 8px 0px;
  border: none;
  z-index: 1;
  margin-bottom: 80px;
}

.contacts_div::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.contacts_div::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

.contacts_div::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #a0a0a0;
}

.addContact_button_container {
  display: flex;
  justify-content: center;
  border: none;
  z-index: 999;
  background: #f6f7f8;
  margin: 0;
}

.addContact_button {
  width: 300px;
  font-size: 18px;
  border-radius: 5px;
  padding: 5px;
  margin: 15px;
  background-color: #2a3647;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  z-index: 10;
}
.addContact_button img {
  width: 32px;
  margin-left: 12px;
}

.addContact_button:hover {
  cursor: pointer;
  background-color: #29abe2ff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  transition: all 0.3s ease;
}

.contact_list {
  margin-top: 1px;
  color: black;
}

#phonebook {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.letter-section {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.letter-section h2 {
  font-size: 24px;
  margin: 10px 30px;
}

.letter {
  display: flex;
  align-self: center;
  width: 320px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
  margin-bottom: 8px;
}

.contact-initials {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid rgba(0, 0, 0, 0.1);
  outline: 3px solid white;
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-size: 16px;
  flex-shrink: 0;
}

.initial_name_content {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.contact_name {
  display: flex;
  flex-direction: column;
}

.contact_name h1 {
  margin: 0px;
}

.contact_links {
  margin-top: 7px;
  display: flex;
  justify-content: space-between;
  width: 150px;
  text-decoration: none;
}

.resp_edit_delete_menu {
  display: none;
}

.contact_links a {
  text-decoration: none;
  color: #9096a0ff;
}

.contact_links i {
  margin-right: 7px;
}

.contact_links a:hover {
  cursor: pointer;
  color: #29abe2ff;
}

.contact-details p {
  font-size: 14px;
  color: #29abe2ff;
}

.contact-details span {
  font-size: 14px;
  font-weight: medium;
}

.edit-initials,
.big-initials {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid rgba(0, 0, 0, 0.1);
  outline: 3px solid white;
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-size: 35px;
  margin-right: 50px;
  flex-shrink: 0;
}

.contact-infos {
  margin-left: 0px;
  flex-grow: 1;
  min-width: 0;
  overflow: hidden;
}

.contacts {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.contact {
  display: flex;
  align-items: center;
  padding: 10px;
  border: none;
  border-radius: 5px;
  min-width: 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
  gap: 30px;
  padding-bottom: 20px;
}

.contact:hover {
  background-color: #eeeeeecb;
}

.contact.is-Active {
  background-color: #2a3647;
  color: white;
  pointer-events: none;
}

.contact p {
  margin: 5px 0;
}

.contact-details-container {
  position: relative;
  top: 76px;
  width: 100%;
  display: flex;
  max-height: 100%;
  flex-direction: column;
  background-color: #f6f7f8;
  padding: 50px;
  margin: 0;
}

.contact_details_header {
  display: flex;
  justify-content: space-between;
  width: 500px;
  gap: 20px;
}

.details_header {
  font-size: 36px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details_motivation {
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue_line {
  display: flex;
  align-self: center;
  border: 1px solid #29abe2ff;
  height: 50px;
  border-radius: 5px;
}

.contact-name-h1 {
  font-size: 35px;
}

.contact_name {
  font-size: 17px;
}

.contact_email {
  font-size: 14px;
  color: #29abe2ff;
}

#contact-info {
  margin-top: 10px;
}

#contact-info p {
  font-size: 16px;
}

#contact-info span {
  font-weight: bold;
}

.is-Active {
  background-color: #2a3647;
  color: white;
}

.contact_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.5s ease-in-out, visibility 0.5s;
}

.contact_overlay.active {
  visibility: visible;
  opacity: 1;
}

.contact_overlay.closing {
  opacity: 0;
  visibility: hidden;
}

.overlay-content {
  background: #000;
  width: 950px;
  height: 450px;
  border-radius: 10px;
  display: flex;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}

.contact_overlay.active .overlay-content {
  transform: translateX(0);
}

.contact_overlay.closing .overlay-content {
  transform: translateX(100%);
}

.close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  font-size: 20px;
  padding: 0px;
  margin: 0px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.close-btn:hover {
  background-color: rgba(199, 199, 199, 0.8);
}

.addContact_left {
  color: white;
  background-color: #2a3647;
  width: 370px;
  padding: 0;
  margin: 0;
  height: 450px;
  border-radius: 10px 0px 0px 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.addContact_right {
  color: black;
  width: 580px;
  padding: 0;
  margin: 0;
  height: 450px;
  background-color: rgb(255, 255, 255);
  border-radius: 0px 10px 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.editContact_left {
  color: white;
  background-color: #2a3647;
  width: 370px;
  padding: 0;
  margin: 0;
  height: 450px;
  border-radius: 10px 0px 0px 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.editContact_right {
  color: black;
  width: 580px;
  padding: 0;
  margin: 0;
  height: 450px;
  background-color: rgb(255, 255, 255);
  border-radius: 0px 10px 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.editContact_left img {
  margin-left: 40px;
  margin-bottom: 4px;
  align-self: flex-start;
  width: 50px;
}

.editContact_left img {
  margin-left: 40px;
  margin-bottom: 25px;
  align-self: flex-start;
  width: 50px;
}

.editContact_left h1 {
  margin: 0;
  padding: 0;
  font-size: 51px;
  margin-bottom: 4px;
}

.addContact_right img {
  margin-bottom: 0px;
  width: 100px;
}

.addContact_left img {
  margin-left: 40px;
  margin-bottom: 4px;
  align-self: flex-start;
  width: 50px;
}

.addContact_left h1 {
  margin: 0;
  padding: 0;
  font-size: 51px;
  margin-bottom: 4px;
}

.addContact_left span {
  font-size: 22px;
  margin-bottom: 10px;
}

.addContact_right img {
  margin-bottom: 0px;
  width: 100px;
}

.form_add {
  display: flex;
  flex-direction: column;
  height: 200px;
}

.form_add input {
  margin-bottom: 20px;
  width: 300px;
  height: 25px;
  border-radius: 8px;
  padding-left: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 16px;
  border: 1px solid #a8a8a8;
}

.form_add input:focus {
  outline-color: #29abe2;
}

.underline {
  border: 1px solid #29abe2ff;
  width: 70px;
  align-self: flex-start;
  margin-left: 38px;
  border-radius: 10px;
}

.editunderline {
  border: 1px solid #29abe2ff;
  width: 70px;
  align-self: flex-start;
  margin-left: 42px;
  border-radius: 10px;
  margin-top: 5px;
}

.icon_name {
  margin-top: 0;
  background: url("/assets/icons/person.svg") no-repeat right;
  background-size: 25px;
  background-position: 275px 8px;
}
.icon_email {
  background: url("/assets/icons/mail.svg") no-repeat right;
  background-size: 25px;
  background-position: 275px 8px;
}
.icon_phone {
  background: url("/assets/icons/call.svg") no-repeat right;
  background-size: 25px;
  background-position: 275px 8px;
}

.btn-cancel {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid;
  width: 90px;
  height: 40px;
  border-radius: 8px;
  font-size: 16px;
  padding: 0;
}

.btn-cancel img {
  align-self: center;
  width: 20px;
  margin: 0;
  margin-left: 5px;
}

.btn-create {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2a3647;
  border: 1px solid;
  width: 160px;
  height: 41px;
  border-radius: 8px;
  margin-left: 15px;
  font-size: 16px;
  padding: 0;
  color: white;
  font-weight: bold;
}

.btn-create img {
  width: 20px;
  margin: 0;
  margin-left: 5px;
}

.button_div {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

.btn-create:hover {
  cursor: pointer;
  background-color: #29abe2ff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  transition: all 0.3s ease;
}

.btn-cancel:hover {
  cursor: pointer;
  color: #29abe2ff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  transition: all 0.3s ease;
}

.notification {
  position: fixed;
  transform: translateX(0);
  background-color: #2b3647;
  right: 150px;
  color: #fff;
  padding: 15px 20px;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  opacity: 0;
  z-index: 9999;
  transition: right 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.notification.show {
  opacity: 1;
  right: -200%;
  transform: translateX(-200%);
}

.return_button_contacts {
  display: none;
  align-items: center;
  width: 30px;
  height: 30px;
  top: 90px;
  right: 20px;
  border: none;
  position: fixed;
  background-color: transparent;
  font-size: 24px;
  color: #29abe2ff;
}

.return_button_contacts:hover {
  border-radius: 50%;
  background-color: rgba(199, 199, 199, 0.8);
  transform: scale(1.12);
  cursor: pointer;
}

.team_header {
  display: flex;
  width: 500px;
  gap: 30px;
}
