body {
  padding: 0;
  margin: 0;
  font-family: "Inter", serif;
}

header {
  height: 75px;
  position: absolute;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header_content {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

.header_img {
  width: 11%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.help_icon:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.profile_initials:hover {
  background-color: gray;
}

.side_menu {
  background-color: #2a3647;
  width: 200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 100px;
  position: fixed;
  top: 65px;
}

.menu_bar {
  width: 100%;
  position: relative;
  top: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu_bar img {
  width: 30px;
  display: flex;
  margin-right: 10px;
  height: auto;
}

.selection {
  display: flex;
  color: #a8a8a8;
  align-items: center;
  padding: 3px;
  justify-content: center;
}
.selection span {
  min-width: 70px;
  text-align: start;
}

.selection:hover {
  width: 96%;
  cursor: pointer;
  transform: scale(1.01);
  background-color: #2c4972;
}

.isActive {
  background-color: #091931;
}

.policy_docs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: start;
  position: relative;
  top: 300px;
  left: 40px;
}

.policy_docs a {
  cursor: pointer;
  text-decoration: none;
  color: #a8a8a8;
  margin: 8px;
  text-align: start;
}

.policy_docs a:hover {
  color: #29abe2ff;
  transform: scale(1.02);
}

.content {
  display: flex;
  max-width: 1440px;
  height: auto;
}

.contact_content {
  display: flex;
}

.contacts_container {
  position: relative;
  height: 100%;
  max-height: 700px;
  top: 80px;
  padding: 20px;
}

.addContact_button {
  width: 300px;
  font-size: 18px;
  border-radius: 5px;
  padding: 5px;
  margin: 15px;
  background-color: #2a3647;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.addContact_button img {
  width: 32px;
  margin-left: 12px;
}

.addContact_button:hover {
  cursor: pointer;
  background-color: #29abe2ff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  transition: all 0.3s ease;
}

.contact_list {
  background-color: black;
  width: 400px;
  color: white;
  height: 100%;
  padding: 20px;
  overflow: auto;
}

.contact {
  border: none;
}

.contact p {
  border: none;
}

.contact_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.overlay-content {
  background: rgb(0, 0, 0);
  padding: 0px;
  border-radius: 10px;
  width: 950px;
  height: 450px;
  text-align: center;
  position: relative;
  display: flex;
}

.close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  font-size: 20px;
  padding: 0px;
  margin: 0px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.close-btn:hover {
  background-color: rgba(199, 199, 199, 0.8);
}

.addContact_left {
  color: white;
  background-color: #2a3647;
  width: 370px;
  padding: 0;
  margin: 0;
  height: 450px;
  border-radius: 10px 0px 0px 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.addContact_right {
  color: black;
  width: 580px;
  padding: 0;
  margin: 0;
  height: 450px;
  background-color: rgb(255, 255, 255);
  border-radius: 0px 10px 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.addContact_left img {
  margin-left: 40px;
  margin-bottom: 4px;
  align-self: flex-start;
  width: 50px;
}

.addContact_left h1 {
  margin: 0;
  padding: 0;
  font-size: 51px;
  margin-bottom: 4px;
}

.addContact_left span {
  font-size: 22px;
  margin-bottom: 10px;
}

.addContact_right img {
  margin-bottom: 0px;
  width: 100px;
}

.form_add {
  display: flex;
  flex-direction: column;
  height: 200px;
}

.form_add input {
  margin-bottom: 20px;
  width: 300px;
  height: 25px;
  border-radius: 8px;
  padding-left: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 16px;
}

.underline {
  border: 1px solid #29abe2ff;
  width: 70px;
  align-self: flex-start;
  margin-left: 38px;
  border-radius: 10px;
}

.icon_name {
  margin-top: 0;
  background: url("/assets/icons/person.svg") no-repeat right;
  background-size: 25px;
  background-position: 275px 8px;
}
.icon_email {
  background: url("/assets/icons/mail.svg") no-repeat right;
  background-size: 25px;
  background-position: 275px 8px;
}
.icon_phone {
  background: url("/assets/icons/call.svg") no-repeat right;
  background-size: 25px;
  background-position: 275px 8px;
}

.btn-cancel {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid;
  width: 90px;
  height: 40px;
  border-radius: 8px;
  font-size: 16px;
  padding: 0;
}

.btn-cancel img {
  align-self: center;
  width: 20px;
  margin: 0;
  margin-left: 5px;
}

.btn-create {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2a3647;
  border: 1px solid;
  width: 160px;
  height: 41px;
  border-radius: 8px;
  margin-left: 15px;
  font-size: 16px;
  padding: 0;
  color: white;
  font-weight: bold;
}

.btn-create img {
  width: 20px;
  margin: 0;
  margin-left: 5px;
}

.button_div {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

.btn-create:hover {
  cursor: pointer;
  background-color: #29abe2ff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  transition: all 0.3s ease;
}

.btn-cancel:hover {
  cursor: pointer;
  color: #29abe2ff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  transition: all 0.3s ease;
}
