.legalnotice_section {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 70px;
  height: 100%;
  margin: 0 auto;
  width: 100%;
  margin-top: 5px;
}

.legalnotice_header {
  width: 100%;
  height: 90vh;
  overflow-y: auto;
  border: none;
  z-index: 1;
  padding: 0;
  margin: 0;
}

.contact_email-legal-explore {
  font-size: 16px; 
  color: #29abe2ff;
  margin-bottom: 16px;
}

.contact_email-legal {
  font-size: 16px; 
  color: #29abe2ff;
}

.legalnotice_header::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.legalnotice_header::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

.legalnotice_header::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #a0a0a0;
}

.legalnotice_content {
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  padding-right: 180px;
}

.legalnotice_imprint h2 {
  font-weight: 900;
  font-size: 30px;
}

.legalnotice_content h1 {
  margin-top: 100px;
  margin-bottom: 5px;
  font-size: 60px;
}

.legalnotice_content h3 {
  margin: 0;
  font-size: 21px;
  font-weight: 900;
}

.legalnotice_content p {
  margin: 0;

  margin-bottom: 20px;
}

.legalnotice_content span {
  color: #29abe2ff;
}

.help_text_link {
  display: none !important;
}

.selection:hover {
  width: 96%;
  transform: scale(1.01);
  background-color: #2c4972;
}

.policy_docs_privacy a:hover{
  width: 73%;
  transform: scale(1.1);
  background-color: #2c4972;
}

.policy_docs_privacy {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: start;
  position: relative;
  top: 300px;
  left: 0px;
}

.policy_docs_privacy a {
  display: flex;
  align-items: start;
  justify-content: flex-start;
  padding: 5px;
  padding-left: 60px;
  cursor: pointer;
  color: #a8a8a8;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: -12px;
}

.privacypolicy_title {
  font-size: 18px;
  margin-right: 300px;
}

@media (max-width: 861px) {
  .privacypolicy_title {
      display: none;
  }
}