@media (max-width: 1210px) {
  .details_header {
    font-size: 26px;
  }

  .blue_line {
    display: flex;
    align-self: center;
    border: 1px solid #29abe2ff;
    height: 50px;
    border-radius: 5px;
  }
  .contact_details_header {
    width: 400px;
  }

  .contact-name-h1 {
    font-size: 24px;
  }
}

@media (max-width: 1110px) {
  .contacts_div {
    width: 350px;
  }
  .contact_name {
    font-size: 14px;
  }

  .contact_email {
    font-size: 12px;
    color: #29abe2ff;
  }

  .details_header {
    font-size: 24px;
  }

  .details_motivation {
    font-size: 17px;
  }

  .contact_details_header {
    justify-content: start;
  }

  .blue_line {
    margin-right: 20px;
    margin-left: 20px;
  }
  .big-initials {
    margin-right: 20px;
  }
}

@media (max-width: 1000px) {
  .header_content span {
    margin-right: 100px;
  }

  .header_content {
    display: flex;
    justify-content: flex-end;
  }

  .header_img {
    margin-right: 50px;
  }

  .side_menu {
    width: 200px;
    min-width: 200px;
  }

  .selection {
    font-size: 14px;
  }

  .logo {
    width: 80px;
  }

  .menu_bar img {
    width: 20px;
  }

  .policy_docs {
    font-size: 14px;
    width: 182px;
  }
  .contacts_div {
    width: 300px;
  }
  .contact_name {
    font-size: 13px;
  }

  .contact_email {
    font-size: 12px;
    color: #29abe2ff;
  }

  .contact-initials {
    width: 30px;
    height: 30px;
    font-size: 12px;
  }

  .addContact_button {
    width: 250px;
    font-size: 15px;
    padding: 5px;
    margin: 10px;
  }

  .letter {
    width: 250px;
  }

  .details_header {
    font-size: 22px;
  }

  .details_motivation {
    font-size: 17px;
  }

  .contact_details_header {
    justify-content: start;
  }

  .blue_line {
    margin-right: 20px;
    margin-left: 20px;
  }
  .big-initials {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    font-size: 25px;
  }
  .contact-details-container {
    padding-left: 25px;
  }
}

@media (max-width: 860px) {
  .policy_docs {
    display: none;
  }

  .side_menu {
    background-color: #2a3647;
    width: 100%;
    height: 70px;
    display: flex;
    position: fixed;
    z-index: 9999;
    bottom: 0px;
    align-items: center;
    justify-content: center;
  }

  .logo {
    top: 15px;
    left: 0;
    width: 35px;
    margin-left: 30px;
    content: url(/assets/img/join-logo-blue.svg);
  }

  .menu_bar {
    width: 100%;
    top: 0px;
    display: flex;
    flex-direction: row;
    margin: 10px;
  }
  .menu_bar img {
    width: 20px;
    margin: 0;
    margin-bottom: 3px;
  }

  .width {
    width: 100px !important;
    padding: 10px 0px 10px 0px;
    height: 45px;
  }

  .selection {
    display: inline-block;
    width: auto;
    text-align: center;
    margin: 0 auto;
    align-items: center;
    border-radius: 10px;
    font-size: 14px;
  }

  .selection:hover {
    transition: background-color 0.3s ease-in-out;
    width: fit-content;
  }

  .selection span {
    min-width: 100%;
    text-align: center;
  }

  .selection img {
    width: 25px;
    margin: 0;
  }

  .selection a {
    display: block;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .header_content span {
    margin-right: 30px;
  }
  .contacts_container {
    position: relative;
    height: 86%;
    max-height: 1000px;
  }
  .contact_list {
    height: 800px;
  }
  #phonebook {
    height: 700px;
  }
}

@media (max-width: 660px) {
  .initial_name_content h1 {
    font-size: 17px;
  }
  .contact_links {
    margin-top: 7px;
    width: 120px;
  }
  .details_header {
    font-size: 18px;
  }
  .blue_line {
    margin: 5px;
  }
  .big-initials {
    width: 50px;
    height: 50px;
    font-size: 16px;
  }
  .contact-details h3 {
    font-size: 16px;
  }
  .contact-details strong {
    font-size: 14px;
  }

  .contact-details p {
    font-size: 14px;
  }
}

@media (max-width: 605px) {
  .policy_docs {
    display: none;
  }

  .header_content span {
    display: none;
  }

  .header_img a {
    display: none;
  }

  .contacts_container {
    width: 100%;
    display: block;
  }

  .contact_list {
    width: 100%;
    display: block;
  }
  .contacts_div {
    width: 100%;
  }

  .contact-details-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
  }

  .contact-details-container.show {
    display: flex;
  }

  .contact_list {
    height: 800px;
  }
  #phonebook {
    height: 700px;
  }

  .side_menu {
    background-color: #2a3647;
    width: 100%;
    height: 70px;
    display: flex;
    position: fixed;
    z-index: 9999;
    bottom: 0px;
    align-items: center;
    justify-content: center;
  }

  .logo {
    top: 15px;
    left: 0;
    width: 35px;
    margin-left: 30px;
    content: url(/assets/img/join-logo-blue.svg);
  }

  .menu_bar {
    width: 100%;
    top: 0px;
    display: flex;
    flex-direction: row;
    margin: 10px;
  }
  .menu_bar img {
    width: 20px;
    margin: 0;
    margin-bottom: 3px;
  }

  .width {
    width: 60px !important;
    padding: 10px 0px 10px 0px;
  }

  .selection {
    display: inline-block;
    width: auto;
    text-align: center;
    margin: 0 auto;
    align-items: center;
    border-radius: 10px;
    font-size: 12px;
  }

  .selection:hover {
    transition: background-color 0.3s ease-in-out;
    width: fit-content;
  }

  .selection span {
    min-width: 100%;
    text-align: center;
  }

  .selection img {
    width: 16px;
    margin: 0;
  }

  .selection a {
    display: block;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .header_content span {
    margin-right: 30px;
  }
}

/* summary-responsive */

@media (max-width: 1075px) {
  .summary_details_header {
    margin-left: 20px;
  }

  .summary_cards {
    margin-left: 20px;
  }

  .summary_longbox {
    margin-left: 20px;
  }
  .summary_smallboxes {
    margin-left: 20px;
  }
}

@media (max-width: 910px) {
  .summary_details_header {
    margin-left: 100px;
  }

  .summary_cards {
    margin-left: 100px;
  }

  .summary_longbox {
    margin-left: 100px;
  }
  .summary_smallboxes {
    margin-left: 100px;
  }
}

@media (max-width: 860px) {
  .summary_details_header {
    margin-left: 200px;
  }

  .summary_cards {
    margin-left: 200px;
  }

  .summary_longbox {
    margin-left: 200px;
  }
  .summary_smallboxes {
    margin-left: 200px;
  }
}

@media (max-width: 820px) {
  .summary_details_header {
    margin-left: 140px;
  }

  .summary_cards {
    margin-left: 140px;
  }

  .summary_longbox {
    margin-left: 140px;
  }
  .summary_smallboxes {
    margin-left: 140px;
  }
}


@media (max-width: 650px) {
  .summary_details_header {
    margin-left: 20px;
    margin-top: 100px;
  }

  .summary_cards {
    margin-left: 20px;
    margin-top: 40px;
  }

  .summary_longbox {
    margin-left: 20px;
  }

  .summary_smallboxes {
    margin-left: 20px;
  }
}

@media (max-width: 615px) {
  .kanban-project {
    display: none;
  }
}

@media (max-width: 560px) {
  .details_header h1 {
  margin: 0;
  font-size: 40px;
  }

  .summary_details_header {
    width: 450px;
    font-size: 40px;
  }
}

@media (max-width: 950px) {
  .summary_details_header .details_header h1 {
    margin: 0;
    font-size: 40px;
    }
  
    .summary_details_header {
      width: 402px;
    }
  
    .summary_card {
      width: 190px;
    }
  
    .summary_longbox {
      width: 370px;
    }
  
    .summary_smallbox {
      width: 124px;
    }
  }

@media (max-width: 510px) {
.summary_details_header .details_header h1 {
  margin: 0;
  font-size: 40px;
  }

  .summary_details_header {
    width: 400px;
  }

  .summary_card {
    width: 190px;
  }

  .summary_longbox {
    width: 370px;
  }

  .summary_smallbox {
    width: 124px;
  }
}

@media (max-width: 470px) {
  .summary_cards {
    gap: 15px;
  }

  .summary_longbox {
    width: 355px;
  }

  .box_date {
    font-size: 16px;
  }

  .longbox_label {
    font-size: 12px;
  }

  .summary_smallbox {
    width: 118px;
  }

  .summary_details_header {
    width: 390px;
  }
}

@media (max-width: 715px) {
  .summary_details_header {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    width: auto; 
    margin-left: 20px; 
    margin-top: 100px; 
  }

  .details_header h1 {
    font-size: 40px; 
  }

  .details_motivation {
    margin-top: 10px;
  }

  .blue_line {
    margin-top: 5px; 
    display: none;
  }

  .summary_details_header {
    margin-left: 0px;
  }

  .summary_cards {
    margin-left: 0px;
  }

  .summary_longbox {
    margin-left: 0px;
  }

  .summary_smallboxes {
    margin-left: 0px;
  }
}

@media (max-width: 430px) {
  .summary_card {
    width: 180px;
    height: 131px;
  }

  .icon_small {
    width: 45px;
  }

  .box_number {
    font-size: 42px;
  }
  .summary_longbox {
    width: 335px;
    height: 131px;
  }
}

@media (max-width: 430px) {
  .summary_longbox {
    width: 335px;
    height: 131px;
  }

  .icon_small {
    width: 45px;
  }

  .box_number {
    font-size: 42px;
  }

  .summary_smallbox {
    width: 112px;
  }

  .smallbox_number {
    font-size: 42px;
  }
}

@media (max-width: 410px) {
  .summary_card {
    width: 170px;
    height: 126px;
  }

  .icon_small {
    width: 40px;
  }

  .box_number {
    font-size: 37px;
  }
}

@media (max-width: 410px) {
  .summary_longbox {
    width: 315px;
    height: 126px;
  }

  .icon_small {
    width: 40px;
  }

  .box_number {
    font-size: 37px;
  }

  .summary_smallbox {
    width: 106px;
  }

  .smallbox_number {
    font-size: 37px;
  }
}

@media (max-width: 390px) {
  .summary_card {
    width: 160px;
    height: 121px;
    gap: 10px;
  }

  .icon_small {
    width: 35px;
  }

  .box_number {
    font-size: 32px;
  }

  .summary_smallboxes {
    height: 121px;
    gap: 10px;
  }
}

@media (max-width: 390px) {
  .summary_longbox {
    width: 295px;
    height: 90px;
    gap: 10px;
  }

  .icon_small {
    width: 35px;
  }

  .box_number {
    font-size: 32px;
  }

  .summary_smallbox {
    width: 104px;
    height: 121px;
  }

  .smallbox_number {
    font-size: 32px;
  }

  .smallbox_label {
    font-size: 12px;
  }
}

@media (max-width: 370px) {
  .summary_card {
    width: 150px;
    height: 116px;
    gap: 10px;
  }

  .icon_small {
    width: 30px;
  }

  .box_number {
    font-size: 27px;
  }
}

@media (max-width: 370px) {
  .summary_longbox {
    width: 275px;
    height: 116px;
    gap: 10px;
  }

  .icon_small {
    width: 30px;
  }

  .box_number {
    font-size: 27px;
  }

  .summary_smallbox {
    width: 94px;
  }

  .summary_smallbox {
    width: 98px;
    height: 116px;
  }

  .smallbox_number {
    font-size: 27px;
  }
}

@media (max-width: 350px) {
  .summary_card {
    width: 140px;
    height: 111px;
    gap: 10px;
  }
}

@media (max-width: 350px) {
  .summary_longbox {
    width: 255px;
    height: 111px;
    gap: 10px;
  }

  .grey_line {
    margin: 0 5px;
  }

  .summary_smallbox {
    width: 88px;
  }

  .summary_smallbox {
    width: 92px;
    height: 111px;
  }

  .smallbox_number {
    font-size: 27px;
  }
}

@media (max-width: 330px) {
  .summary_card {
    width: 130px;
    height: 106px;
    gap: 10px;
  }
}

@media (max-width: 330px) {
  .summary_longbox {
    width: 235px;
    height: 106px;
  }
  .box_date {
    font-size: 12px;
  }

  .summary_smallbox {
    width: 86px;
    height: 106px;
  }

  .smallbox_number {
    font-size: 27px;
  }
}

@media (max-width: 320px) {
  .summary_longbox {
    height: 90px;
  }

  .summary_card {
    height: 100px;
  }

  .summary_smallbox {
    height: 100px;
  }
}

@media (max-width: 1340px) {
  #greeting_text {
    font-size: 40px;
  }
  #userName {
    font-size: 48px;
  }
}

@media (max-width: 1290px) {
  #greeting_text {
    font-size: 32px;
  }
  #userName {
    font-size: 40px;
  }
}

@media (max-width: 1230px) {
  #greeting_text {
    font-size: 24px;
  }
  #userName {
    font-size: 32px;
  }
}

@media (max-width: 1170px) {
  #greeting_text {
    font-size: 16px;
  }
  #userName {
    font-size: 24px;
  }
}

@media (max-width: 1110px) {
  .greeting_div {
    margin-left: 20px;
  }
}

@media (max-width: 605px) {
  .help_icon {
    display: none;
  }
  .help_text_link {
    display: flex !important;
    color: #a8a8a8;
    text-decoration: none;
    padding: 10px;
  }
  .help_text_link:hover {
    background-color: #2c4972;
    transform: scale(1.03);
  }
  .menu_header {
    height: 160px;
  }
}

@media (max-width: 910px) and (min-width: 300px) {
  .greeting_overlay {
    position: fixed;
    top: 75px;
    left: 0;
    right: 0;
    margin-bottom: 20px;
    width: 100%;
    height: 84%;
    background-color: #f6f7f8;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.5s ease;
    z-index: 99999;
  }

  .hidden {
    display: none !important;
  }

  .fadeOut {
    opacity: 0;
  }

  .greeting_overlay_content {
    text-align: center; 
    display: flex !important;
    flex-direction: column;
  }

  .overlay_greeting_text {
    font-size: 24px;
    margin: 0;
    padding: 0;
  }

  .overlay_greeting_name {
    font-size: 32px;
    margin: 5px 0 0 0;
  }
}

@media (max-width: 910px) {
  .greeting_div {
    display: none;
  }
}

@media (max-width: 715px) {
  .summary_details_header {
      display: flex;
      flex-direction: column;
  }

  .details_motivation {
      order: 2;
  }

  .blue_line_summary {
      order: 3;
      width: 75px; 
      height: 3px; 
      background-color: #28ABE2; 
      border-radius: 5px;
      margin-top: 16px; 
      margin-left: 0; 
      align-self: flex-start; 
    }
  }