@media (max-width: 1210px) {
  .details_header {
    font-size: 26px;
  }

  .blue_line {
    display: flex;
    align-self: center;
    border: 1px solid #29abe2ff;
    height: 50px;
    border-radius: 5px;
  }
  .contact_details_header {
    width: 400px;
  }

  .contact-name-h1 {
    font-size: 24px;
  }
}

@media (max-width: 1110px) {
  .contacts_div {
    width: 350px;
  }
  .contact_name {
    font-size: 14px;
  }

  .contact_email {
    font-size: 12px;
    color: #29abe2ff;
  }

  .details_header {
    font-size: 24px;
  }

  .details_motivation {
    font-size: 17px;
  }

  .contact_details_header {
    justify-content: start;
  }

  .blue_line {
    margin-right: 20px;
    margin-left: 20px;
  }
  .big-initials {
    margin-right: 20px;
  }
}

@media (max-width: 1000px) {
  .header_content span {
    margin-right: 100px;
  }

  .header_content {
    display: flex;
    justify-content: flex-end;
  }

  .header_img {
    margin-right: 50px;
  }

  .side_menu {
    width: 200px;
    min-width: 200px;
  }

  .selection {
    font-size: 14px;
  }

  .logo {
    width: 80px;
  }

  .menu_bar img {
    width: 20px;
  }

  .policy_docs {
    font-size: 14px;
    width: 182px;
  }
  .contacts_div {
    width: 300px;
  }
  .contact_name {
    font-size: 13px;
  }

  .contact_email {
    font-size: 12px;
    color: #29abe2ff;
  }

  .contact-initials {
    width: 30px;
    height: 30px;
    font-size: 12px;
  }

  .addContact_button {
    width: 250px;
    font-size: 15px;
    padding: 5px;
    margin: 10px;
  }

  .letter {
    width: 250px;
  }

  .details_header {
    font-size: 22px;
  }

  .details_motivation {
    font-size: 17px;
  }

  .contact_details_header {
    justify-content: start;
  }

  .blue_line {
    margin-right: 20px;
    margin-left: 20px;
  }
  .big-initials {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    font-size: 25px;
  }
  .contact-details-container {
    padding-left: 25px;
  }
}

@media (max-width: 860px) {
  .policy_docs {
    display: none;
  }

  .side_menu {
    background-color: #2a3647;
    width: 100%;
    height: 70px;
    display: flex;
    position: fixed;
    z-index: 9999;
    bottom: 0px;
    align-items: center;
    justify-content: center;
  }

  .logo {
    top: 15px;
    left: 0;
    width: 35px;
    margin-left: 30px;
    content: url(/assets/img/join-logo-blue.svg);
  }

  .menu_bar {
    width: 100%;
    top: 0px;
    display: flex;
    flex-direction: row;
    margin: 10px;
  }
  .menu_bar img {
    width: 20px;
    margin: 0;
    margin-bottom: 3px;
  }

  .width {
    width: 100px !important;
    padding: 10px 0px 10px 0px;
    height: 45px;
  }

  .selection {
    display: inline-block;
    width: auto;
    text-align: center;
    margin: 0 auto;
    align-items: center;
    border-radius: 10px;
    font-size: 14px;
  }

  .selection:hover {
    transition: background-color 0.3s ease-in-out;
    width: fit-content;
  }

  .selection span {
    min-width: 100%;
    text-align: center;
  }

  .selection img {
    width: 25px;
    margin: 0;
  }

  .selection a {
    display: block;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .header_content span {
    margin-right: 30px;
  }
  .contacts_container {
    position: relative;
    height: 86%;
    max-height: 1000px;
  }
  .contact_list {
    height: 800px;
  }
  #phonebook {
    height: 700px;
  }
}

@media (max-width: 660px) {
  .initial_name_content h1 {
    font-size: 17px;
  }
  .contact_links {
    margin-top: 7px;
    width: 120px;
  }
  .details_header {
    font-size: 18px;
  }
  .blue_line {
    margin: 5px;
  }
  .big-initials {
    width: 50px;
    height: 50px;
    font-size: 16px;
  }
  .contact-details h3 {
    font-size: 16px;
  }
  .contact-details strong {
    font-size: 14px;
  }

  .contact-details p {
    font-size: 14px;
  }
}

@media (max-width: 605px) {
  .policy_docs {
    display: none;
  }

  .header_content span {
    display: none;
  }

  .header_img a {
    display: none;
  }

  .contacts_container {
    width: 100%;
    display: block;
  }

  .contact_list {
    width: 100%;
    display: block;
  }
  .contacts_div {
    width: 100%;
  }

  .contact-details-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
  }

  .contact-details-container.show {
    display: flex;
  }

  .contact_list {
    height: 800px;
  }
  #phonebook {
    height: 700px;
  }

  .side_menu {
    background-color: #2a3647;
    width: 100%;
    height: 70px;
    display: flex;
    position: fixed;
    z-index: 9999;
    bottom: 0px;
    align-items: center;
    justify-content: center;
  }

  .logo {
    top: 15px;
    left: 0;
    width: 35px;
    margin-left: 30px;
    content: url(/assets/img/join-logo-blue.svg);
  }

  .menu_bar {
    width: 100%;
    top: 0px;
    display: flex;
    flex-direction: row;
    margin: 10px;
  }
  .menu_bar img {
    width: 20px;
    margin: 0;
    margin-bottom: 3px;
  }

  .width {
    width: 60px !important;
    padding: 10px 0px 10px 0px;
  }

  .selection {
    display: inline-block;
    width: auto;
    text-align: center;
    margin: 0 auto;
    align-items: center;
    border-radius: 10px;
    font-size: 12px;
  }

  .selection:hover {
    transition: background-color 0.3s ease-in-out;
    width: fit-content;
  }

  .selection span {
    min-width: 100%;
    text-align: center;
  }

  .selection img {
    width: 16px;
    margin: 0;
  }

  .selection a {
    display: block;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .header_content span {
    margin-right: 30px;
  }
}
