body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f6f7f8;
  overflow: hidden;
  flex-direction: column;
  transition: all 0.5s ease-in-out;
  scroll-behavior: smooth;
  font-family: "Inter", serif;
}

.logo-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.85);
  transition: all 0.5s ease-in-out;
}

.logo-container.move-logo {
  top: 0px;
  left: 0px;
  transform: scale(0.4);
}

.logo {
  width: 180px;
  height: auto;
}

.form-container {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.form-container.hidden {
  display: none;
}
.form-container.visible {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 1;
}

.signup-box {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  text-align: center;
  width: 380px;
  padding: 35px 35px;
}

.signup-header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  margin-bottom: 10px;
}
.arrow-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.signup-box h2 {
  font-size: 50px;
  font-weight: bolder;
  margin: 0;
}
.back-arrow {
  display: inline-block;
  color: #28abe2;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  transition: background-color 0.3s ease;
  text-decoration: none;
  cursor: pointer;
}
.back-arrow:hover {
  background-color: #f6f7f8;
}

.underline {
  width: 120px;
  height: 2.5px;
  background-color: #28abe2;
  margin: 4px auto 20px;
}

.input-container {
  position: relative;
  margin-bottom: 24px;
  width: 85%;
}
.input-container input {
  width: 100%;
  padding: 12px 45px 12px 15px;
  border: 1px solid #d1d1d1;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}
.input-container input:focus {
  outline: none;
  border-color: #28abe2;
}
.error {
  border-color: #ff4057 !important;
}
.input-icon {
  position: absolute;
  right: -50px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  cursor: pointer;
}

.error-message {
  color: rgba(255, 64, 87, 0.8);
  font-size: 15px;
  margin: 8px auto 10px;
  text-align: left;
  width: 100%;
  margin-top: -10px;
}

.policy-container {
  margin: 20px 0;
  font-size: 14px;
  color: #2b3647;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
#policy-checkbox {
  transform: scale(1.2);
  cursor: pointer;
}
.policy-container a {
  color: #2b3647;
  text-decoration: underline;
}
.policy-container a:hover {
  color: #28abe2;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.signup-action {
  background-color: #2b3647;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.signup-action:disabled {
  background-color: #777;
  cursor: not-allowed;
}
.signup-action:hover:enabled {
  background-color: #28abe2;
}

.notification {
  position: fixed;
  left: 50%;
  bottom: -120px;
  transform: translateX(-50%);
  background-color: #2b3647;
  color: #fff;
  padding: 15px 20px;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  opacity: 0;
  transition: all 0.7s ease;
  z-index: 9999;
  font-size: 12px;
}
.notification.show {
  opacity: 1;
}

.hidden {
  display: none !important;
}

.footer {
  position: absolute;
  bottom: 30px;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px;
}
.footer a {
  text-decoration: none;
  color: gray;
  font-size: 14px;
}
.footer a:hover {
  color: #28abe2;
}

/* responsive-signup.css */

@media (max-width: 600px) {
  .signup-box {
    padding: 30px 30px;
  }
  .footer {
    bottom: 16px;
  }
  .logo {
    margin-top: 0;
    margin-left: 0;
    width: 100px;
  }
  .signup-box h2 {
    font-size: 40px;
  }
}
@media (max-width: 460px) {
  .signup-box {
    padding: 25px 25px;
    width: 350px;
  }
}
@media (max-width: 420px) {
  .signup-box {
    padding: 20px 20px;
    width: 300px;
  }
  .input-container input {
    width: 94%;
  }
  .input-icon {
    right: -35px;
  }
}
@media (max-width: 360px) {
  .signup-box {
    padding: 20px 20px;
    width: 250px;
  }
  .input-container input {
    width: 90%;
  }
  .input-icon {
    right: -30px;
  }
}

@media (max-width: 400px) {
  body {
    background-color: #2b3647;
  }
}

@media (max-width: 600px) {
  .notification {
    font-size: 12px;
  }
}
